[Desktop Entry]
Type=Application
Name=Perplexity Desktop
Comment=Launch Perplexity Desktop Python Script
Exec=python3 /home/lv_linux_learn/ai_fun/python/perplexity_desktop_v1.4.py
Path=/home/adam/lv_linux_learn/ai_fun/python/
Terminal=false
Icon=/home/adam/lv_linux_learn/ai_fun/python/assets/perplexity_desktop.png
Version=1.0
StartupWMClass=perplexity_desktop_v1.4.py